﻿#notification-message {
    font-family: 'Roboto', sans-serif !important;
    background-color: #ff9900;
    color: #fff;
    position: fixed;
    width: 100%;
    min-height: 35px;
    right: 0;
    z-index: 100;
    bottom: 0;
    display: none; /* Hidden until invoked */
    line-height:16px;
    font-size: 12px;
}
.padding {
    padding-left:10px;
    padding-bottom:10px;
}
#notification-message-header {
    font-weight: bold;
    margin-bottom: 10px;
}

#notification-message-close {
    background-image: url("./themes/base/images/Close.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

#notification-message-icon {
    background-image: url("./themes/base/images/help_icon.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10px;
    top: 13px;
}
