﻿html, body{
    overflow:hidden;
    height:100%;
}
.max-content {
    height: 100%;
    overflow-y: hidden;
    overflow-x:hidden;
}
.kendogrid {
    margin: 0;
    padding: 0;
    border-width: 0;
    height: 100%;
}
.max-section-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.max-sync-section {
    padding-top: 50px;
}
.max-grid-row-section {
    height:100%;
    padding-top: 5px;
}
.max-grid-col-section {
    height: 100%;
    padding-left:0px;
    padding-right:0px;
}
.max-vertical-align {
    display: flex;
    align-items: center;
}
.max-app-entry-wrapper {
    position:absolute;
    display: table;
    width: 100%;
}
.max-app-entry-name-div {
    vertical-align: middle;
    display: table-cell;
}
.max-app-entry-name {
    font-size: 24px;
    opacity: 0.9;
    font-weight:500;
}
.max-maximizer-img {
    width: 70%;
    height: 70%;
    float: right;
}
.max-app-img {
    width: 70%;
    height: 70%;
    float: left;
}
.max-app-sync-line {
    vertical-align: middle;
    display: table-cell;
    padding-left: -15px;
    padding-right: -15px;
    width: 100%;
}
.max-sync-line {
    border: 2px solid #B9D432 !important;
}
.max-sync-maximizer-col{
    padding-right:0px;
}
.max-sync-line-col {
    padding-left: 0px;
    padding-right: 0px;
}
.max-sync-app-col {
    padding-left: 0px;
}
.k-primary {
    color: #fff;
    background-color: #337ab7;
    border: #337ab7;
    border-top-color: rgb(51, 122, 183);
    border-right-color: rgb(51, 122, 183);
    border-bottom-color: rgb(51, 122, 183);
    border-left-color: rgb(51, 122, 183);
}
.k-primary:hover, .k-primary:focus, .k-primary.k-state-focus, .k-primary.k-state-focused:hover, .k-primary:active, .k-primary.k-state-active {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.k-button:active, .k-button.k-state-active, .k-button.k-state-focus, .k-button.k-state-focused:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.max-syn-msg-span {
    padding: 10px 25px;
    max-width: 700px;
}
.max-error-page {
    padding: 15px;
}
.max-error-title-span {
    max-width: 700px;
    font-size: 24px;
    font-weight: 500;

}
.max-error-msg-span {
    max-width: 700px;
    font-size: 18px;
}
.max-app-error-page-icon {
    font-size: 36px;
    color: red;
}
.max-loading-status {
    padding: 8px 14px;
}
.k-button {
    padding: 8px 14px;
}
.k-header.k-grid-toolbar {
    border-color: #c5c5c5;
}
.k-grid tr td {
    border-bottom: 1px solid #c5c5c5;
}
.k-grid-content tr:last-child > td {
    border-bottom-width: thin;
}
.k-pager-wrap.k-grid-pager.k-widget.k-floatwrap > .k-pager-info.k-label{
    padding-top: 0px;
    padding-bottom:0px;
}
.max-invoice-doc-warraper:hover span.max-invoice-doc-number{
    cursor:pointer;
    text-decoration:underline;
}
.disconnetBtnContainer {
    display: inline-block;
}

.toolbar {
    float: right;
}
i.icon-plus {
	font-size: 17px;
	cursor: pointer;
}
a#tooltip_fields {
	text-decoration: none !important;
}
div#tooltipfields {
	/*background-color: darkgrey;
	display: none;
	z-index: 100;*/
	position: absolute;
	padding: 10px;
	border-radius: 5px;
	display: block; 
	z-index: 1500; 
	margin-top:5px; 
	width: 200px; 
	background:#f5f5f5; 
	box-shadow: 5px 8px 35px #888888;
}
div#tooltip_background_layer {
	background-color: rgba(204, 0, 0, 0); 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%; 
	z-index: 1499; 
	display: block;
}

.kendogrid tbody tr{
    height:17px;
}
.kendogrid tbody td {
    padding-top: 0px;
    padding-bottom: 0px;
}