<div data-role="view" data-title="Badges" id="buttongroup-badges" data-use-native-scrolling="true">
    <ul data-role="listview" data-type="group">
        <li>
            Default ButtonGroup
            <ul>
                <li>
                    <ul data-role="buttongroup" data-index="0" style="margin: 3em auto;">
                        <li data-badge="23">One</li>
                        <li>Two</li>
                        <li data-badge="5">Three</li>
                    </ul>
                </li>
            </ul>
        </li>
        
        <li>
            Primary ButtonGroup: class="km-primary"
            <ul>
                <li>
                    <ul data-role="buttongroup" data-index="0" class="km-primary" style="margin: 3em auto;">
                        <li data-badge="23">One</li>
                        <li>Two</li>
                        <li data-badge="5">Three</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
