<div data-role="view" data-init="mobileButtonGroupInit" data-title="ButtonGroup Look" id="buttongroup-appearance" data-use-native-scrolling="true">
    <ul data-role="listview" data-type="group">
        <li>
            ButtonGroup with text and icon
            <ul>
                <li>
                    <ul data-role="buttongroup" data-index="0">
                        <li data-icon="toprated">Featured</li>
                        <li data-icon="globe">Popular</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Icons only ButtonGroup
            <ul>
                <li>
                    <ul data-role="buttongroup" data-index="1">
                        <li data-icon="play"></li>
                        <li data-icon="pause"></li>
                        <li data-icon="rewind"></li>
                        <li data-icon="fastforward"></li>
                        <li data-icon="globe"></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Justified ButtonGroup with text and icon
            <ul>
                <li>
                    <ul data-role="buttongroup" data-index="0" class="km-justified">
                        <li data-icon="toprated">Featured</li>
                        <li data-icon="globe">Popular</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
