<!DOCTYPE html>
<html>
<head>
    <title>AngularJS</title>
    <meta charset="utf-8">
    <link href="../content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="../../styles/kendo.common.min.css" rel="stylesheet">
    <link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jszip.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/kendo.all.min.js"></script>
    <script src="../content/shared/js/console.js"></script>
    <script>
        
    </script>
    
    
</head>
<body>
    
        <a class="offline-button" href="../index.html">Back</a>
    
    <div id="example" ng-app="KendoDemos">
    <div class="demo-section k-content" ng-controller="MyCtrl">
        <h4>Menu orientation</h4>
        <select kendo-drop-down-list k-ng-model="menuOrientation" k-value-primitive="true">
            <option value="horizontal">Horizontal</option>
            <option value="vertical">Vertical</option>
        </select>

        <h4 style="padding-top: 2em;">Preview</h4>
          <ul kendo-menu
            k-orientation="menuOrientation"
            k-rebind="menuOrientation"
            k-on-select="onSelect(kendoEvent)">
          <li>
            Men's
            <ul>
              <li>Footwear
                <ul>
                  <li>Leisure Trainers</li>
                  <li>Running Shoes</li>
                  <li>Outdoor Footwear</li>
                  <li>Sandals/Flip Flops</li>
                  <li>Footwear Accessories</li>
                </ul>
              </li>
              <li>Leisure Clothing
                <ul>
                  <li>T-Shirts</li>
                  <li>Hoodies &amp; Sweatshirts</li>
                  <li>Jackets</li>
                  <li>Pants</li>
                  <li>Shorts</li>
                </ul>
              </li>
              <li>Sports Clothing
                <ul>
                  <li>Football</li>
                  <li>Basketball</li>
                  <li>Golf</li>
                  <li>Tennis</li>
                  <li>Swimwear</li>
                </ul>
              </li>
              <li>Accessories</li>
            </ul>
          </li>
          <li>
            Women's
            <ul>
              <li>Footwear
                <ul>
                  <li>Leisure Trainers</li>
                  <li>Running Shoes</li>
                  <li>Outdoor Footwear</li>
                  <li>Sandals/Flip Flops</li>
                  <li>Footwear Accessories</li>
                </ul>
              </li>
              <li>Leisure Clothing
                <ul>
                  <li>T-Shirts</li>
                  <li>Jackets</li>
                </ul>
              </li>
              <li>Sports Clothing
                <ul>
                  <li>Basketball</li>
                  <li>Golf</li>
                  <li>Tennis</li>
                  <li>Swimwear</li>
                </ul>
              </li>
              <li>Accessories</li>
            </ul>
          </li>
          <li>
            Boy's
            <ul>
              <li>Footwear
                <ul>
                  <li>Leisure Trainers</li>
                  <li>Running Shoes</li>
                  <li>Outdoor Footwear</li>
                  <li>Sandals/Flip Flops</li>
                  <li>Footwear Accessories</li>
                </ul>
              </li>
              <li>Leisure Clothing
                <ul>
                  <li>T-Shirts</li>
                  <li>Hoodies &amp; Sweatshirts</li>
                  <li>Jackets</li>
                  <li>Pants</li>
                  <li>Shorts</li>
                </ul>
              </li>
              <li>Sports Clothing
                <ul>
                  <li>Football</li>
                  <li>Basketball</li>
                  <li>Rugby</li>
                  <li>Tennis</li>
                  <li>Swimwear</li>
                </ul>
              </li>
              <li>Accessories</li>
            </ul>
          </li>
          <li>
            Girl's
            <ul>
              <li>Footwear
                <ul>
                  <li>Leisure Trainers</li>
                  <li>Running Shoes</li>
                  <li>Fitness Trainers</li>
                  <li>Sandals/Flip Flops</li>
                  <li>Footwear Accessories</li>
                </ul>
              </li>
              <li>Leisure Clothing
                <ul>
                  <li>T-Shirts</li>
                  <li>Hoodies &amp; Sweatshirts</li>
                  <li>Jackets</li>
                  <li>Pants</li>
                  <li>Shorts</li>
                </ul>
              </li>
              <li>Sports Clothing
                <ul>
                  <li>Basketball</li>
                  <li>Tennis</li>
                  <li>Swimwear</li>
                </ul>
              </li>
              <li>Accessories</li>
            </ul>
          </li>
        </ul>
    </div>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ])
      .controller("MyCtrl", function($scope){
          $scope.menuOrientation = "horizontal";
          $scope.onSelect = function(ev) {
              alert($(ev.item.firstChild).text());
          };
      })
</script>


    
</body>
</html>
