<div id="checks" data-role="view" data-title="Shopping List" data-layout="checklayout" data-use-native-scrolling="true">
    <ul data-role="listview" data-type="group">
        <li>
            Checkboxes in ListView items
            <ul>
                <li>
                    <label>
                        <input type="checkbox" checked="checked" />
                        Lettuce
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" />
                        Carrots
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" />
                        Peas
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" />
                        Bread
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" />
                        Unicorns
                    </label>
                </li>
            </ul>
        </li>
        <li>
            Standalone Checkboxes
        </li>
    </ul>
    <div>
        <input type="checkbox" class="km-checkbox" id="chocolate" />
        <label class="km-checkbox-label" for="chocolate">Chocolate</label>
        <input type="checkbox" class="km-checkbox" id="ice-cream" checked="checked" />
        <label class="km-checkbox-label" for="ice-cream">Ice cream</label>
    </div>
</div>

<div id="radios" data-role="view" data-title="Settings" data-layout="checklayout">
    <header data-role="header">
        <div data-role="navbar">
            <a id="back-button" class="nav-button" data-align="left" href="#/" data-role="backbutton">Back</a>
            <span data-role="view-title"></span>
        </div>
    </header>

    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Radios in ListView items
            <ul>
                <li>
                    <label>
                        <input name="radio" type="radio" checked="checked" />
                        Move to bottom
                    </label>
                </li>
                <li>
                    <label>
                        <input name="radio" type="radio" />
                        Delete
                    </label>
                </li>
                <li>
                    <label>
                        <input name="radio" type="radio" />
                        Leave in place
                    </label>
                </li>
            </ul>
        </li>
        <li>
            Standalone Radio Buttons
        </li>
    </ul>
    <div>
        <input type="radio" class="km-radio" name="sex" id="sex1" checked="checked"/>
        <label class="km-radio-label" class="km-label" for="sex1" >Male</label>
        <input type="radio" class="km-radio" name="sex" id="sex2"/>
        <label class="km-radio-label" class="km-label" for="sex2">Female</label>
    </div>
</div>

<div data-role="layout" data-id="checklayout">
    <header data-role="header">
        <div data-role="navbar">
            <a id="back-button" class="nav-button" data-align="left" href="#/" data-role="backbutton">Back</a>
            <span data-role="view-title"></span>
            <a data-align="right" data-icon="source-code" data-click="goToSourceCode" data-role="button" title="Show this demo source code"></a>
        </div>
    </header>

    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="#checks" data-icon="favorites">Checkboxes
            </a><a href="#radios" data-icon="favorites">Radio Buttons</a>
        </div>
    </div>
</div>

