<div id="forms" data-role="view" data-title="Form Elements" data-init="initForm" data-use-native-scrolling="true">
    <img src="@Url.Content("~/content/shared/images/eduardo.jpg")" class="km-thumbnail" style="width: 10em; height: 10em; margin: 1em auto; display: block; float: none;"/>
     <form action="./index.html">
        <ul data-role="listview" data-style="inset">
            <li>
                <label class="km-required km-label-above">First Name
                    <input value="Eduardo" type="text" />
                </label>
            </li>
            <li>
                <label class="km-label-above">Last Name
                    <input value="Batista" type="text" />
                </label>
            </li>
            <li>
                <label class="km-label-above">Company
                    <input value="Telerik" type="text" />
                </label>
            </li>
             
            <li>
                <fieldset>
                    <legend><a href="#" class="km-legend-button">+ Phone</a></legend>
                        <label class="km-inline-field km-label-above km-required" style="width: 200px;">
                        Phone Number
                        <input type="text" value="+359 555 5555" />
                        </label>
                        <label class="km-inline-field km-label-above" style="width: 200px;">
                            Type
                            <select id="phone-type">
                                <option value="First Option">Mobile</option>
                                <option value="Second Option">Stationary</option>
                                <option value="Third Option">iPhone</option>
                            </select>
                      </label>  
                </fieldset>                   
            </li>
            <li>
                <fieldset>
                    <legend><a href="#" class="km-legend-button">+ Email</a></legend>
                    <input type="text" value="barista@telerik.com" />
                </fieldset>
            </li>
             <li>

                    <label class="km-icon-label k-i-calendar km-required">
                        <input value="Meeting" type="text" />
                    </label>
                </li>
                <li>
                    <label class="km-icon-label k-i-clock">
                        <select id="dropdown">
                            <option value="First Option">Meeting Room 1</option>
                            <option value="Second Option">Meeting Room 2</option>
                            <option value="Third Option">Meeting 3</option>
                        </select>
                    </label>
                </li>
                 
             <li>
                <label class="km-required">Title
                    <input value="Meeting" type="text" />
                </label>
            </li>
            <li>
                <label>Location
                    <select id="meeting_room">
                            <option value="First Option">Meeting Room 1</option>
                            <option value="Second Option">Meeting Room 2</option>
                            <option value="Third Option">Meeting 3</option>
                        </select>
                </label>
            </li>            
            <li>
                <fieldset>
                    <legend>Volume</legend>
                    <input data-role="slider" id="slider" max="100" class="km-full-width-slider" />
                </fieldset>
            </li>
            <li>
                <fieldset>
                    <legend>Notes</legend>
                    <textarea style="height: 100px;"> Your notes here</textarea>
                </fieldset>
            </li>          
        </ul>
    </form>
</div>