<!DOCTYPE html>
<html>
<head>
    <title>AngularJS</title>
    <meta charset="utf-8">
    <link href="../content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="../../styles/kendo.common.min.css" rel="stylesheet">
    <link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jszip.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/kendo.all.min.js"></script>
    <script src="../content/shared/js/console.js"></script>
    <script>
        
    </script>
    
    
</head>
<body>
    
        <a class="offline-button" href="../index.html">Back</a>
    
    <div id="example" ng-app="KendoDemos">
    <div class="demo-section k-content" ng-controller="MyCtrl">
        <div class="box-col">
            <h4>Color value 1: {{color1}}</h4>
            <ul>
                <li><div kendo-color-palette ng-model="color1" k-opacity="true"></div></li>
                <li><div kendo-flat-color-picker ng-model="color1" k-opacity="true"></div></li>
            </ul>    
        </div>
        <div class="box-col">
            <h4>Color value 2: {{color2}}</h4>
            <ul>
                <li><input kendo-color-picker k-palette="'websafe'" ng-model="color2" /></li>
            </ul>
        </div>
        <div class="box-col">
            <h4>Color value 3: {{color3}}</h4>
            <ul>
                <li><input kendo-color-picker ng-model="color3" k-buttons="false" k-preview="false" k-input="false" /></li>
            </ul>
        </div>
    </div>
    <style>
        .box-col {
            width: 300px;
        }
    </style>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ])
      .controller("MyCtrl", function($scope){
      })
  
</script>


    
</body>
</html>
