<div data-role="view" data-title="Photo viewer" data-zoom="true">
    <header data-role="header">
        <div data-role="navbar">
            <a data-align="left" data-icon="arrow-w" data-role="backbutton" class="back-button"></a>
            <span data-role="view-title"></span>
            <a data-align="right" data-icon="source-code" data-click="goToSourceCode" data-role="button" title="Show this demo source code"></a>
        </div>
    </header>

    <div data-role="content">
        <div id="zoomable-explanation">
            The contents of this mobile view are zoomable using pinch/zoom gestures. <br /><br />
            To test this, open the Kendo UI demos on a mobile device, which supports multi-touch gestures.
        </div>
        <img src="content/mobile/shared/faces.jpg" style="display: block" />
    </div>
</div>

<style>
    #zoomable-explanation {
        position: absolute;
        width: 14em;
        top: 50px;
        left: 50px;
        padding: 1em;
        background: black;
        color: white;
        border: 1px solid white;
        -webkit-border-radius: .5em;
        -webkit-opacity: 0.5;
    }
</style>
