<!DOCTYPE html>
<html>
<head>
    <title>AngularJS</title>
    <meta charset="utf-8">
    <link href="../content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="../../styles/kendo.common.min.css" rel="stylesheet">
    <link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jszip.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/kendo.all.min.js"></script>
    <script src="../content/shared/js/console.js"></script>
    <script>
        
    </script>
    
    
</head>
<body>
    
        <a class="offline-button" href="../index.html">Back</a>
    
    <div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl">
        <div class="demo-section k-content">
            <button class="k-button" ng-show="!dialogVisible" ng-click="dialog.open()">Open Dialog</button>
        </div>
        <div kendo-dialog="dialog" k-title="'Software Update'" k-on-open="dialogVisible = true"
             k-on-close="dialogVisible = false" k-width="450"
             k-actions="actions" k-modal="false">
            <p>A new version of <strong>Kendo UI</strong> is available. Would you like to download and install it now?<p>
        </div>
    </div>
</div>

<script>
    angular.module("KendoDemos", ["kendo.directives"])
        .controller("MyCtrl", function($scope) {
            $scope.actions = [
                { text: 'Skip this version' },
                { text: 'Remind me later' },
                { text: 'Install update', primary: true }
            ];
        })
</script>


    
</body>
</html>
