<!DOCTYPE html>
<html>
<head>
    <title>AngularJS</title>
    <meta charset="utf-8">
    <link href="../content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="../../styles/kendo.common.min.css" rel="stylesheet">
    <link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jszip.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/kendo.all.min.js"></script>
    <script src="../content/shared/js/console.js"></script>
    <script>
        
    </script>
    
    
</head>
<body>
    
        <a class="offline-button" href="../index.html">Back</a>
    
    <div id="example" ng-app="KendoDemos">
    <div class="demo-section k-content" ng-controller="MyCtrl">
        <div>
            <h4>Basic Button</h4>
            <p>
                <kendo-button class="k-primary" ng-click="onClick1()">Primary Button</kendo-button>
                <kendo-button on-click="onClick2()">Button</kendo-button>
            </p>

            <h4>Disabled buttons</h4>
            <p>
                <kendo-button enable="false" class="k-primary">Disabled Primary Button</kendo-button>
                <kendo-button enable="false">Disabled Button</kendo-button>
            </p>
            <p>
                <kendo-button ng-disabled="disabled">Support for ngDisabled</kendo-button><br />
                <label><input type="checkbox" ng-model="disabled" /> Disabled</label>
            </p>

            <h4>Buttons with icons</h4>
            <p>
                <kendo-button icon="'k-icon k-i-filter'">Filter</kendo-button>
                <kendo-button icon="'k-icon k-i-filter-clear'">Clear Filter</kendo-button>
                <kendo-button icon="'k-icon k-i-refresh'"></kendo-button>
            </p>
    </div>

    <style>
        .demo-section p {
            margin: 0 0 30px;
            line-height: 50px;
        }
        .demo-section p .k-button {
            margin: 0 10px 0 0;
        }
        .k-primary {
            min-width: 150px;
        }
    </style>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ])
      .controller("MyCtrl", function($scope){
          $scope.onClick1 = function() {
            alert("Primary button click");
          };
          $scope.onClick2 = function() {
            alert("Second button click");
          };
      })
</script>


    
</body>
</html>
