<div data-role="view" id="buttongroup-navbar" data-title="Contacts" data-init="initNameSource" data-use-native-scrolling="true">
    <header data-role="header">
        <div data-role="navbar" class="km-navbar-buttongroup">
            <span data-role="view-title">Contacts</span>
            <a id="back-button" class="nav-button" data-align="left" href="#/" data-role="backbutton">Back</a>
            <ul data-role="buttongroup" data-index="0" data-select="regroup">
                <li>
                    By Name
                </li><li>
                    By Family
                </li>
            </ul>
            <a data-align="right" data-icon="source-code" data-click="goToSourceCode" data-role="button" title="Show this demo source code"></a>
        </div>
    </header>
    <ul data-role="listview" data-type="group" data-source="nameSource" data-template="nameTemplate" data-fixed-headers="true">
    </ul>
</div>


<script>
    nameSource = kendo.data.DataSource.create({
        data: [
                  { firstName: "Ann", lastName: "Devon", firstLetter: "A", lastLetter: "D", photo: '@Url.Content("content/mobile/overview/ann.jpg")' },
                  { firstName: "Annette", lastName: "Roulet", firstLetter: "A", lastLetter: "R", photo: '@Url.Content("content/mobile/overview/annette.jpg")' },
                  { firstName: "Antonio", lastName: "Moreno", firstLetter: "A", lastLetter: "M", photo: '@Url.Content("content/mobile/overview/antonio.jpg")' },
                  { firstName: "Carine", lastName: "Schmitt", firstLetter: "C", lastLetter: "S", photo: '@Url.Content("content/mobile/overview/carine.jpg")' },
                  { firstName: "Catherine", lastName: "Dewey", firstLetter: "C", lastLetter: "D", photo: '@Url.Content("content/mobile/overview/catherine.jpg")' },
                  { firstName: "Daniel", lastName: "Tonini", firstLetter: "D", lastLetter: "T", photo: '@Url.Content("content/mobile/overview/daniel.jpg")' },
                  { firstName: "Diego", lastName: "Roel", firstLetter: "D", lastLetter: "R", photo: '@Url.Content("content/mobile/overview/diego.jpg")' },
                  { firstName: "Eduardo", lastName: "Saavedra", firstLetter: "E", lastLetter: "S", photo: '@Url.Content("content/mobile/overview/eduardo.jpg")' },
                  { firstName: "Elizabeth", lastName: "Brown", firstLetter: "E", lastLetter: "B", photo: '@Url.Content("content/mobile/overview/elizabeth.jpg")' },
                  { firstName: "Felipe", lastName: "Izquierdo", firstLetter: "F", lastLetter: "I", photo: '@Url.Content("content/mobile/overview/felipe.jpg")' },
                  { firstName: "Fran", lastName: "Wilson", firstLetter: "F", lastLetter: "W", photo: '@Url.Content("content/mobile/overview/fran.jpg")' },
                  { firstName: "Francisco", lastName: "Chang", firstLetter: "F", lastLetter: "C", photo: '@Url.Content("content/mobile/overview/francisco.jpg")' }
              ],
        group: "firstLetter"
    });

    function regroup() {
        nameSource.group(this.selectedIndex ? "lastLetter" : "firstLetter");
    }
</script>

<script id="nameTemplate" type="text/x-kendo-template">
    <img src="#:photo#" class="km-thumbnail" />
    <h3>#:firstName# #:lastName#</h3>
</script>