<div data-role="view" data-init="mobileButtonGroupInit" data-title="ButtonGroup Look" id="buttongroup-appearance" data-use-native-scrolling="true">
    <ul data-role="listview" data-type="group">
        <li>
            Default ButtonGroup
            <ul>
                <li>
                    <ul data-role="buttongroup" data-index="0">
                        <li>One</li>
                        <li>Two</li>
                        <li>Three</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Small ButtonGroup: class="km-small"
            <ul>
                <li>
                    <ul data-role="buttongroup" data-index="0" class="km-small">
                        <li>One</li>
                        <li>Two</li>
                        <li>Three</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Large ButtonGroup: class="km-large"
            <ul>
                <li>
                    <ul data-role="buttongroup" data-index="0" class="km-large">
                        <li>One</li>
                        <li>Two</li>
                        <li>Three</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
