<!DOCTYPE html>
<html>
<head>
    <title>AngularJS</title>
    <meta charset="utf-8">
    <link href="../content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="../../styles/kendo.common.min.css" rel="stylesheet">
    <link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jszip.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/kendo.all.min.js"></script>
    <script src="../content/shared/js/console.js"></script>
    <script>
        
    </script>
    
    
</head>
<body>
    
        <a class="offline-button" href="../index.html">Back</a>
    
    <style>
    .box {
        padding: 1rem;
    }
    .box-col {
        padding: 0;
    }
    .box-col + .box-col {
        padding: 0;
        margin-left: 10px;
    }
</style>
<div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl">
    <div class="demo-section k-content" >
        <div>
            <h4>Enter a date</h4>
            <input kendo-date-input
            k-ng-model="dateObject"
            style="width: 100%;" />
        </div>
    </div>
    <div class="box">
            <div class="box-col">
                <ul>
                    <li>
                        <span class="button-descr">typeof dateObject:</span>
                    </li>
                    <li>
                        <span class="button-descr">dateObject instanceof Date:</span>
                    </li>
                    <li>
                        <span class="button-descr">dateObject:</span>
                    </li>
                </ul>
            </div>
            <div class="box-col">
                <ul>
                    <li>
                        <span class="button-descr">
                            {{ getType(dateObject) }}
                        </span>
                    </li>
                    <li>
                        <span class="button-descr">
                            {{ isDate(dateObject) }}
                        </span>
                    </li>
                    <li>
                        <span class="button-descr">
                            {{ dateObject | date:"EEEE, MMMM d, yyyy" }}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
   </div>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ])
      .controller("MyCtrl", function($scope){
          $scope.getType = function(x) {
            return typeof x;
          };
          $scope.isDate = function(x) {
            return x instanceof Date;
          };
      })
</script>


    
</body>
</html>
