﻿body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dropzone {
    border-style: dashed;
    border-color: red;
    color: black;
}

.onDragOver {
    border-style: double;
    border-color: gray;
    color: gray;
}
.fileListItem{
    vertical-align:middle; 
    height:50px; 
    background-color:lightgray; 
    color:rgb(242, 242, 242); 
    font-size:20px; 
    border-radius: 5px;
}