﻿body {
}

button {
    outline:none;
}

.max-grid-row-section {
    padding-top: 1px !important;
    font-size: 12px !important;
}

body.waiting {
    cursor: wait !important;
}

.alertBox {
	overflow-y: auto
}

.kendogrid {
    margin: 0;
    padding: 0;
    border-width: 0;
    height: 100% !important;
}

/*remove the disconnect bar*/
.k-header.k-grid-toolbar {
    display: none;
}

.k-grid-header th.k-header {
    height: 20px !important;
}

.k-filter-row th, .k-grid-header th.k-header {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.k-grid .k-state-selected {
    background-color: #e0f18e !important;
    /*color: black !important;*/
}

.normalRow {
    color: black !important;
}

.k-grid .k-alt.k-state-selected {
    background-color: #e0f18e !important;
    color: black;
}

.k-grid td.k-state-selected, .k-grid tr.k-state-selected > td {
    border-color: #d5d5d5 !important;
}

.brokenRow {
    color: red !important;
}

.k-grid td.k-state-selected:hover, .k-grid tr.k-state-selected:hover td {
    background-color: #e0f18e !important;
}

html .k-grid tr:hover {
    background: transparent;
}

html .k-grid tr.k-alt:hover {
    background: #f1f1f1;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.k-header {
    
}

.k-grid-header {
    height: 20px !important;
}

.k-grid-header-wrap {
    height: 20px !important;
}

.k-link {
    font-size: 12px !important;
    font-weight: bold !important;
}

/*
k-grid-content k-auto-scrollable {
    height: auto !important;
    overflow-y: visible !important;
    background-color:yellow !important;
}


*/
tr.k-grid-content:hover {
    background-color: inherit !important ;
    opacity: 1.0 ;
}

th {
    height: 20px !important;
    margin-top: unset;
    margin-bottom: unset;
    vertical-align: middle;
    padding-bottom: 20px !important;
    padding-top: unset !important;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.loading-indicator {
  height: 80px;
  width: 80px;
  background: url( '../Images/loading.gif' );
  background-repeat: no-repeat;
  background-position: center center;
}

.loading-indicator-overlay {
  background-color: #FFFFFF;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
