<div data-model="viewModel" data-role="view" id="button-mvvm" data-title="Button MVVM" data-use-native-scrolling="true">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Configuration
            <ul>
                <li>Enable <input type="checkbox" data-role="switch" data-bind="checked: isEnabled"></li>
                <li>Visible <input type="checkbox" data-role="switch" data-bind="checked: isVisible"></li>
                <li>
                    <p>
                        Kendo UI Mobile Button supports the
                        <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/enabled">enabled</a>,
                        <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/events">events</a> and
                        <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/visible">visible</a> bindings.
                    </p>
                </li>
            </ul>
        </li>
        <li>
            Button Preview
            <ul>
                <li>
                <span><a data-role="button"
                       data-bind="enabled: isEnabled,
                                  visible: isVisible,
                                  events: { click: onClick }"
                                  class="km-large km-primary km-justified">Click me</a></span>
                </li>
            </ul>
        </li>
    </ul>
    <div class="console"></div>


</div>

<script>
    var viewModel = kendo.observable({
        isEnabled: true,
        isVisible: true,
        onClick: function(e) {
            kendoConsole.log("event :: click", false, "#button-mvvm");
        }
    });
</script>
