<div data-role="view" data-title="Button with Icons" class="buttonAppearance" data-use-native-scrolling="true">
    <ul data-role="listview" data-type="group">
        <li>
            Button with text and icon
            <ul>
                <li>
                    <a data-role="button" data-animated="true" data-icon="home">Home</a>
                    <a data-role="button" data-animated="true" data-icon="contacts" class="km-primary">Contacts</a>
                </li>
            </ul>
        </li>
        <li>
            Icon only button
            <ul>
                <li>
                    <a data-role="button" data-animated="true" data-icon="home"></a>
                    <a data-role="button" data-animated="true" data-icon="contacts" class="km-primary"></a>
                </li>
            </ul>
        </li>
        <li>
            Justified Button with text and icon
            <ul>
                <li>
                    <a data-role="button" data-animated="true" data-icon="home" class="km-justified">Home</a>
                    <a data-role="button" data-animated="true" data-icon="contacts" class="km-primary km-justified">Contacts</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
