<div data-role="view" id="button-home" data-title="Button" data-persist="true" data-use-native-scrolling="true">
    <ul data-role="listview" data-type="group">
        <li>
            Default Inline Buttons
            <ul>
                <li>
                    <i></i> <a data-role="button" data-animated="true">Default Button</a>
                </li>
                <li>
                    <i></i> <a data-role="button" data-animated="true" disabled >Disabled Button</a>
                </li>
            </ul>
        </li>
        
        <li>
            Justified Buttons - add class="km-justified"
            <ul>
                <li>
                    <i></i> <a data-role="button" data-animated="true" class="km-justified" >Justified Button</a>
                </li>
                <li>
                    <i></i> <a data-role="button" data-animated="true" disabled  class="km-justified" >Disabled Justified Button</a>
                </li>
            </ul>
        </li>
        
        <li>
            Primary Buttons - add class="km-primary"
            <ul>
                <li>
                    <i></i> <a data-role="button" class="km-primary" >Primary Button</a>
                </li>
                <li>
                    <i></i> <a data-role="button" disabled class="km-primary" >Disabled Primary Button</a>
                </li>
                <li>
                    <i></i> <a data-role="button" class="km-primary km-justified" >Primary Justified Button</a>
                </li>
                <li>
                    <i></i> <a data-role="button" data-animated="true" disabled  class="km-primary km-justified" >Disabled Primary Justified Button</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
