<div data-role="view" data-title="Button Sizes" class="buttonAppearance" data-use-native-scrolling="true">
    <ul data-role="listview" data-type="group">
        <li>
            Default Button
            <ul>
                <li>
                    <i></i> <a data-role="button" data-animated="true" class="km-justified">Button</a>
                </li>
            </ul>
        </li>
        <li>
            Small Button - add class="km-small"
            <ul>
                <li>
                    <i></i> <a data-role="button" data-animated="true" class="km-small km-justified">Button</a>
                </li>
            </ul>
        </li>
        <li>
            Large Button - add class="km-large"
            <ul>
                <li>
                    <i></i> <a data-role="button" data-animated="true" class="km-large km-justified">Button</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
