<!DOCTYPE html>
<html>
<head>
    <title>AngularJS</title>
    <meta charset="utf-8">
    <link href="../content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="../../styles/kendo.common.min.css" rel="stylesheet">
    <link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jszip.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/kendo.all.min.js"></script>
    <script src="../content/shared/js/console.js"></script>
    <script>
        
    </script>
    
    
</head>
<body>
    
        <a class="offline-button" href="../index.html">Back</a>
    
    <div id="example" ng-app="KendoDemos">
    <div  ng-controller="MyCtrl">
        <div class="demo-section k-content">
                <h4>Linear Gauge</h4>
                <div kendo-lineargauge
                    k-scale="{ min:0, max: 50, vertical: false}"
                    ng-model="selectedNumber"
                    ></div>
        </div>
        <div class="box wide">
            <h4>Value</h4>
            <input kendo-slider k-min="0" k-max="50" k-show-buttons="false" k-small-step="5" k-large-step="10" ng-model="selectedNumber">
        </div>
    </div>
<script>
    angular.module("KendoDemos", [ "kendo.directives" ])
        .controller("MyCtrl", function($scope){
            $scope.selectedNumber = 10;
        })
</script>
</div>


    
</body>
</html>
