<div data-role="view" data-title="Detail Buttons" data-use-native-scrolling="true">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Default button styles
            <ul>
                <li>Default<a data-role="detailbutton" data-icon="add"class="km-style-default"></a></li>
                <li>Info<a data-role="detailbutton" data-icon="settings" class="km-style-info"></a></li>
                <li>Success<a data-role="detailbutton" data-icon="favorites" class="km-style-success"></a></li>
                <li>Warning<a data-role="detailbutton" data-icon="recents" class="km-style-warning"></a></li>
                <li>Error / Delete<a data-role="detailbutton" data-icon="trash" class="km-style-error"></a></li>
            </ul>
        </li>
    </ul>
</div>