<div data-role="view" data-title="Magazines"
     data-init="mobileListViewResponsiveImages" data-use-native-scrolling="true"
     id="index" class="all-magazines">

    <ul id="magazines-list"></ul>
</div>

<script id="listview-template" type="text/x-kendo-template">
    <div data-bind="events: { click: onItemClick }">
        <img data-src="#= CoverURL #" width="30%" data-responsive class="resimgs item-cover" />
        <h4>#: Name #</h4>
        <p>#: Published() #</p>
    </div>
</script>

<div data-role="view" data-title="Magazine Details"
     id="singleItem" class="all-magazines"
     data-show="onDetailViewShow">
    <header data-role="header">
        <div data-role="navbar" class="km-light">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-role="view-title"></span>
            <a data-align="right" data-role="button" class="nav-button" data-icon="home" href="#/"></a>
        </div>
    </header>

    <img id="detailedImage" data-bind="attr: { data-src: CoverURL }" data-responsive width="100%" class="resimgs" />
</div>

<script src="content/shared/js/everlive.all.js"></script>


<script>
    // initialize the Backend Services SDK with an API Key
    var el = new Everlive({
        appId: "3q4sHgIqESXbpvOp",
        scheme: "https"
    });
   

    // retrieve the Image URL from the Files table using expand
    var expandExpression = {
        "Cover": {
            "ReturnAs": "CoverURL",
            "SingleField": "Uri"
        }
    };

    // retrieve a subset of the fields to optimize the payload
    var filterExpression = {
        "Name": 1,
        "PublishedDate": 1,
        "Cover": 1
    };

    // create the images datasource
    var dataSource = new kendo.data.DataSource({
        type: "everlive",
        transport: {
            typeName: "Magazines",
            read: {
                headers: {
                    "X-Everlive-Fields": JSON.stringify(filterExpression),
                    "X-Everlive-Expand": JSON.stringify(expandExpression)
                }
            }
        },
        schema: {
            model: {
                Published: function () {
                    return kendo.toString(this.PublishedDate, "MMMM yyyy");
                }
            }
        }
    });

    function mobileListViewResponsiveImages() {
        $("#magazines-list").kendoMobileListView({
            style: "inset",
            dataSource: dataSource,
            template: $("#listview-template").html(),
            dataBound: function (e) {
                el.helpers.html.processAll();
            },
            click: function(e) {
                app.navigate("#singleItem?uid=" + e.dataItem.uid);
            }
        });
    }

    function onDetailViewShow(e) {
        var clickedItemUid = e.view.params.uid;
        var viewModel = dataSource.getByUid(clickedItemUid);

        kendo.bind(e.view.element, viewModel);

        el.helpers.html.processAll();
    }

</script>

<style>
    .item-cover {
        float: left;
        margin-right: 2.5%;
    }
</style>
