<div id="formappearance" data-role="view" data-title="Default Apperance" data-use-native-scrolling="true" class="default" data-init="initForm">
     <form action="./index.html">
        <ul data-role="listview" data-style="inset">
            <li>
                <label>Select element
                    <select>
                        <option value="First Option">First Option</option>
                        <option value="Second Option">Second Option</option>
                        <option value="Third Option">Third Option</option>
                        <option value="Fourth Option">Fourth Option</option>
                    </select>
                </label>
            </li>
            <li>
                <label>DropDownList
                    <select id="dropdown">
                        <option value="First Option">First Option</option>
                        <option value="Second Option">Second Option</option>
                        <option value="Third Option">Third Option</option>
                        <option value="Fourth Option">Fourth Option</option>
                        <option value="First Option">Fifth Option</option>
                        <option value="Sixth Option">Sixth Option</option>
                    </select>
                </label>
            </li>
            <li>
                <label>Slider
                    <input id="slider" data-role="slider" type="range" max="100" />
                </label>
            </li>
            <li>
                <label>Type text
                    <input type="text" value="Text" />
                </label>
            </li>
            <li>
                <label>
                Type password
                <input type="password" value="password" />
                </label>
            </li>
            <li>
                <label>
                Type search
                <input type="search" value="search" />
                </label>
            </li>
            <li>
                <label>
                Type url
                <input type="url" value="http://www.telerik.com" />
                </label>
            </li>
            <li>
                <label>
                    Type email
                    <input type="email" value="kendoui@telerik.com" />
                </label>
            </li>
            <li>
                <label>
                    Type number
                    <input type="number" value="20" />
                </label>
            </li>
            <li>
                <label>
                    Type tel
                    <input type="tel" value="+44 22 11 10" />
                </label>
            </li>
            <li>
                <label>
                    Type date
                    <input type="date" value="2012-03-22" />
                </label>
            </li>
            <li>
                <label>
                    Type time
                    <input type="time" value="22:30" />
                </label>
            </li>
            <li>
                <label>
                    Type month
                    <input type="month" value="2012-01" />
                </label>
            </li>
            <li>
                <label>
                    Type datetime-local
                    <input type="datetime-local" value="2012-03-22T20:15" />
                </label>
            </li>
            <li>
                <label>
                    Textarea
                    <textarea style="resize: none">Multiline
Text</textarea>
                </label>
            </li>
        </ul>
    </form>
</div>
<script>
    function initForm() {
        var body = $(".km-pane");

        if (kendo.ui.DropDownList) {
            $("#dropdown").kendoDropDownList({
                // The options are needed only for the desktop demo, remove them for mobile.
                popup: { appendTo: body },
                animation: { open: { effects: body.hasClass("km-android") ? "fadeIn" : body.hasClass("km-ios") || body.hasClass("km-wp") ? "slideIn:up" : "slideIn:down" } }
            });
        }

        if (kendo.ui.Slider) {
            $("#slider").kendoSlider({ tooltip: { enabled: false } });
        }
    }
</script>
