﻿body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    color: rgb(33, 33, 33);
    overflow: hidden;
}

div {
    word-wrap: break-word;
}

.scrollTable {
    height: 330px;
    overflow: auto;
}

.folderPath {
    display: inline !important;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left !important;
    font-size: 16px;
    width: 504px !important;
    line-height: 1.4;
}

.divTable {
    display: table;
}

.divTableRow {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.divTableCell {
    padding-left: 20px;
    text-align: left !important;
    display: table-cell;
}

.divFileCell {
    width: 352px !important;
    column-width: 302px !important;
}

.divDateCell {
    width: 152px !important;
    column-width: 202px !important;
}

.divTableHead {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid lightgrey;
    display: table-cell;
}

.divTableRow:hover, .backButton:hover {
    background-color: rgb(240, 240, 240);
}

.divTableHead:hover {
    background-color: rgb(240, 240, 240);
}

.divTableRowSelected {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgrey;
    border-bottom-color: rgb(240, 240, 240);
}

.divButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.OKButtonBlocked {
    width: 100px;
    height: 45px;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
    border: 1px solid;
    font-family: inherit;
    outline: none !important;
    padding: 8px 14px 7px 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 2px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    opacity: .6;
}

.OKButton {
    width: 100px;
    height: 45px;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
    border: 1px solid;
    font-family: inherit;
    outline: none !important;
    padding: 8px 14px 7px 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 2px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.OKButton:hover {
    background-color: #1a4e7c;
    border-color: grey;
    box-shadow: 2px 2px darkgrey;
}

.OKButton:active {
    background-color: #1a4e7c;
    box-shadow: 2px 2px darkgrey;
    transform: translateY(1px);
}

.CANCELButton {
    width: 100px;
    height: 45px;
    color: #333 !important;
    background-color: #fff;
    border-color: rgb(204, 204, 204) !important;
    border: 1px solid;
    outline: none !important;
    padding: 8px 14px 7px 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 2px;
    font-family: inherit;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.CANCELButton:hover {
    background-color: lightgray;
    border-color: grey;
    box-shadow: 2px 2px darkgrey;
}

.CANCELButton:active {
    background-color: lightgray;
    box-shadow: 2px 2px darkgrey;
    transform: translateY(1px);
}