﻿body {
    padding-right: 10px !important;
    padding-left: 15px !important;
    overflow: hidden;
}

tr {
}

td {
    font-size: 13px;
    font-family: Verdana,Arial,sans-serif;
}

#container-content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #d6d6d6;
    padding: 10px;
    height: 455px;
}

.disabledTextInput {
    background-color: lightgray;
    color: gray;
}

.button-update {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 7px;
    color: black;
    padding: 3px 7px 3px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    width: 80px;
}

.textbox {
    width:550px;
    height:20px;
}
