﻿@model CloudElement.Models.DataObject.DataObjectModel
@using CloudElement.Models.DataObject
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Styles/jquery-ui.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Styles/jquery-ui.structure.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Styles/jquery-ui.theme.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Styles/jquery.qtip.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Styles/jquery.qtip.min.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Styles/font-awesome.min.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Styles/simple-line-icons.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Styles/bootstrap/bootstrap.min.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Styles/Kendo/kendo.common.min.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Styles/Kendo/kendo.common-material.min.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Styles/Kendo/kendo.material.min.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Styles/Kendo/kendo.default.min.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Styles/Kendo/kendo.material.mobile.min.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Styles/CloudElement/DataObject.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Styles/CloudElement/App.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/Template.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/jquery-ui-1.12.1.css")" />
    <script src="~/Scripts/SharePoint/CloudStorageConfig.js" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/SharePoint/MaxSessionTokenHandling.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SharePoint/MaxAPI.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SharePoint/Util.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/MaxScripts/maximizer.Events.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/MaxScripts/maximizer.FollowingTabManager.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.qtip.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.qtip.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.core.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.userevents.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.data.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.fx.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.list.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.resizable.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.binder.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.button.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.sortable.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.pager.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.columnsorter.min.js?")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.draganddrop.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.selectable.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.progressbar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.grid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.web.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Kendo/kendo.dropdownlist.min.js")" type="text/javascript"></script>
    <script src="~/Scripts/jquery.showLoading.min.js" type="text/javascript"></script>
    <script src="~/Documents/CRUD_CustomRecord.js"></script>
    <script src="~/Documents/kendoGridCRUD.js"></script>
    <script src="@Url.Content("~/Scripts/SharePoint/SharePointData.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SharePoint/SharePoint.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/App.js")" type="text/javascript"></script>
</head>
<body>
    <script>
		//var portalCategory = "Partner";
		//var module = "Ab";
		var csu_width = 600;
		var csu_height = 450;

		var rootPath = window.location.protocol + '//' + window.location.host + '/';
		var integrationsModule = window.location.href.replace(rootPath, "");
		integrationsModule = integrationsModule.split('/');
		if (integrationsModule != undefined && integrationsModule[0] != '')
			integrationsModule = integrationsModule[0]
		else if (integrationsModule != undefined && integrationsModule[1] != '')
			integrationsModule = integrationsModule[1]

		// Globals
		var urlVars = getUrlVars();
		var entryKey;
		var tokenUrl = urlVars["GetTokenURL"];
		var IdentityToken = urlVars["IdentityToken"];
		var WebAPIURL = urlVars["WebAPIURL"];
		var userReadResponse = GetCurrentUserInfo();
		var userRole = '';
		var username = '';

		var features = [];
		if (!('Promise' in window))
			features.push('Promise');


		// If any features need to be polyfilled, construct
		// a script tag to load the polyfills and append it
		// to the document
		$(document).ready(function () {
			if (features.length) {
				var s = document.createElement('script');
				s.src = 'https://polyfill.io/v2/polyfill.min.js?features=' + features.join(',') + '&flags=gated,always&callback=doneLoadingPolyfill';
				s.async = true;
				document.head.appendChild(s);
			} else {
				main();
			}
		})

		function doneLoadingPolyfill() {
			main();
		}

		function main() {
			currentCloudStorage = '@System.Configuration.ConfigurationManager.AppSettings["CloudDocumentName"]';
			cloudStorageDisplayStr = '@System.Configuration.ConfigurationManager.AppSettings["CloudStorageDisplayStr"]';
			applicationId = '@System.Configuration.ConfigurationManager.AppSettings["ApplicationID"]';

		   document.getElementById("folder").innerHTML += "Show in " + cloudStorageDisplayStr + " Folder";
		   document.getElementById("showInFolderTab").title = "Show in " + cloudStorageDisplayStr + " Folder";

			if (currentCloudStorage.toUpperCase() == CloudStorageName.Box) {
				currentCloudStorage = CloudStorageName.Box;
			}else if (currentCloudStorage.toUpperCase() == CloudStorageName.OneDrive) {
				currentCloudStorage = CloudStorageName.OneDrive;
			}else if (currentCloudStorage.toUpperCase() == CloudStorageName.Amazon) {
				currentCloudStorage = CloudStorageName.Amazon;
			}else if (currentCloudStorage.toUpperCase() == CloudStorageName.Dropbox) {
				currentCloudStorage = CloudStorageName.Dropbox;
			}else if (currentCloudStorage.toUpperCase() == CloudStorageName.OneDriveForBusiness) {
				currentCloudStorage = CloudStorageName.OneDriveForBusiness;
			}else if (currentCloudStorage.toUpperCase() == CloudStorageName.GoogleDrive) {
				currentCloudStorage = CloudStorageName.GoogleDrive;
			}else if (currentCloudStorage.toUpperCase() == CloudStorageName.DropboxBusiness) {
				currentCloudStorage = CloudStorageName.DropboxBusiness;
			}else {
				jqAlert('Invalid CloudDocumentName: ' + currentCloudStorage, 'Please specify the correct CloudDocumentName value in web.config file.');
			}

			MyApp.JssStrings = JSON.parse('@(Html.Raw(Model.JSStrings))');
			MyApp.JssErrorStrings = JSON.parse('@(Html.Raw(Model.JSErrorStrings))');
			MyApp.InitLoad();

			$(document).on("click", "#tooltip_fields", function (event) {
				event.stopPropagation();
				$('#extraFieldsPopup').show();
			});
			$(document).on("click", "#tooltip_background_layer", function (event) {
				event.stopPropagation();
				$('#extraFieldsPopup').hide();
			});

			$(function () {
				$('#AddDocument').click(function () {
					if (!$('#addDocument')[0].disabled) {
						var addDocPageURL = rootPath + integrationsModule + "/Documents/AddDocument.html?entryKey=" + MyApp.CurrentParentKey + "&GetTokenURL=" + tokenUrl + "&IdentityToken=" + IdentityToken + "&WebAPIURL=" + WebAPIURL + "&Leader=" + username + "&CloudStorage=" + currentCloudStorage + "&CloudStorageStr=" + cloudStorageDisplayStr + "&ApplicationId=" + applicationId;
						top.CustomDialog.Open('dialog-modal-setup', addDocPageURL, csu_width, csu_height, "Add Document(s) for Maximizer Software Inc.", function (json) {
							if (json != "canceled" && json != "dialog-modal-setup" && typeof (json) != undefined) addRecord(json);
						});
					}
				});
				$('#AddExisting').click(function () {
					if (!$('#addExisting')[0].disabled) {
						var addExistingPageURL = rootPath + integrationsModule + "/Documents/AddExisting.html?entryKey=" + MyApp.CurrentParentKey + "&GetTokenURL=" + tokenUrl + "&IdentityToken=" + IdentityToken + "&WebAPIURL=" + WebAPIURL + "&Leader=" + username + "&CloudStorage=" + currentCloudStorage + "&CloudStorageStr=" + cloudStorageDisplayStr + "&ApplicationId=" + applicationId;
						top.CustomDialog.Open('dialog-modal-setup', addExistingPageURL, csu_width, csu_height * 1.03, "Add Existing", function (json) {
							if (json != "canceled" && json != "dialog-modal-setup" && typeof (json) != undefined) {
								jqAlert('File Added', 'The file is added.');
								addRecord(json);
							}
						});
					}
				});
				$('#Properties').click(function () {
					if ($("#app-grid").data("kendoGrid").select()[0] != undefined) { // if kendo grid contain a selected row
						var refId = $("#app-grid").data("kendoGrid").select()[0].id;
						getSelectedRow(refId, function (selectedItem) {
							if (selectedItem['brokenFlag'] == 0) {
								$('body').addClass('waiting');
								MyApp.OpenDispForm(refId);
							} else {
								jqAlert('Broken Link', 'This feature is disabled for broken document link. Please click the entry to try to repair the link first.');
							}
						})
					} else {
						jqAlert('No document is selected', 'Please select a document first.');
					}
				});
				$('#Folder').click(function () {
					if ($("#app-grid").data("kendoGrid").select()[0] != undefined) {
						var refId = $("#app-grid").data("kendoGrid").select()[0].id;
						//selectedFolderPath = document.getElementById(refId).children[2].children[0].innerHTML;
						var result = $("#app-grid").data("kendoGrid").dataSource.data().filter(function (obj) {
							return obj['refId'] === refId;
						});
						getSelectedRow(refId, function (selectedItem) {
							if (selectedItem['brokenFlag'] == 0) {
								$('body').addClass('waiting');
								MyApp.OpenFolder(refId);
							} else {
								jqAlert('Broken Link', 'This feature is disabled for broken document link. Please click the entry to try to repair the link first.');
							}
						})
					} else {
						jqAlert('No document is selected', 'Please select a document first.');
					}
				});   
            
				if (top.$page.FollowingWindow.currentModule == "opp") {
					document.getElementById("showAll").style.display = "none";
					document.getElementById("showAllLabel").style.display = "none";
				}
			});

			function getSelectedRow(refId, callback) {
				var gridData = $("#app-grid").data("kendoGrid").dataSource.data();
				for (var i = 0; i <= gridData.length; i++)
					if (gridData[i]['refId'] == refId) {
						callback(gridData[i]);
						break;
					}
			}

			$(function () { // dialog box for delete feature
				$("#dialog-confirm").dialog({
					dialogClass: "no-close",
					autoOpen: false,
					resizable: false,
					height: "auto",
					width: 415,
					modal: true,
					buttons: {
						"Remove Link": function () {
							MyApp.RemoveSPLink($("#app-grid").data("kendoGrid").select()[0].id, false, false, $("#app-grid").data("kendoGrid").select()[0].getAttribute("parent"));
							refId = "";
							$(this).dialog("close");
						},
						Cancel: function () {
							$("#dialog-confirm").hide();
							$(this).dialog("close");
						}
					}
				});

				$("#delete-dialog-confirm").dialog({
					dialogClass: "no-close",
					autoOpen: false,
					resizable: false,
					height: "auto",
					width: 415,
					modal: true,
					buttons: {
						"Delete Document": function () {
							MyApp.RemoveSPLink($("#app-grid").data("kendoGrid").select()[0].id, true, false, $("#app-grid").data("kendoGrid").select()[0].getAttribute("parent"));
							$(this).dialog("close");
						},
						"Remove Link": function () {
							MyApp.RemoveSPLink($("#app-grid").data("kendoGrid").select()[0].id, false, false, $("#app-grid").data("kendoGrid").select()[0].getAttribute("parent"));
							$(this).dialog("close");
						},
						Cancel: function () {
							$("#delete-dialog-confirm").hide();
							$(this).dialog("close");
						}
					}
				});
			});

		}
		function setupDialog() {
			var setupPageURL = rootPath + integrationsModule + "/Documents/Setup.html?entryKey=" + MyApp.CurrentParentKey + "&GetTokenURL=" + tokenUrl + "&IdentityToken=" + IdentityToken + "&WebAPIURL=" + WebAPIURL + "&CloudStorage=" + currentCloudStorage + "&CloudStorageStr=" + cloudStorageDisplayStr + "&ApplicationId=" + applicationId;
			top.CustomDialog.Open('dialog-modal-setup', setupPageURL, csu_width, csu_height * 0.6 , "Setup", function (result) {
				MyApp.LoadFollowingTab();
			});
		}

		function jqAlert(titleMsg, outputMsg, isReload, onCloseCallback) {
			if (!titleMsg)
				titleMsg = 'Alert';

			if (!outputMsg)
				outputMsg = 'No Message to Display.';

			$("<div></div>").html(outputMsg).dialog({
				title: titleMsg,
				resizable: false,
				modal: true,
				open: function (event, ui) { $(".ui-dialog-titlebar-close").hide(); },
				buttons: {
					"OK": function () {
						$(this).dialog("close");
					}
				},
				close: function () {
					if (onCloseCallback) onCloseCallback();
					if (isReload) window.location.reload();
				}
			});
		}

		function changeCheckState() {        
			if (top.$page.FollowingWindow.currentModule != "opp") {
				if (document.getElementById("showAll").checked) {
					document.getElementById("showAll").checked = false;
				} else {
					document.getElementById("showAll").checked = true;
				}
			}
			showAllAndUpdate();
		}

		function showAll() {    //get state after checkbox state is changed
			if (document.getElementById("showAll").checked && top.$page.FollowingWindow.currentModule != "opp") {
				getEntryFamily(MyApp.CurrentParentKey).then(function (json) {
					if (json['Code'] == 0) {
						MyApp.ShowGridPage();
						MyApp.ClearGrid();
						MyApp.DisplayTableRecords(json);
					}
				});
			} else {
				MyApp.DisplayTableRecords();
			}
		}

		function showAllAndUpdate() {    //get state after checkbox state is changed
			top.$page.FollowingWindow.showLoading();
			if (top.$page.FollowingWindow.currentModule != "opp") {			
				updateShowAll(userReadResponse.User.Data[0].Key.Value, document.getElementById("showAll").checked.toString())
			}
			showAll();
		}
    </script>
    <!-- Alert box with 'Cancel', 'Remove Link' and 'Delete Document' buttons-->
    <div id="dialog-confirm" title="Remove the Selected Document Link" style="display:none">
		<p>
			<span class="ui-icon ui-icon-alert">
			</span>
			Do you want to remove the link to this Maximizer entry ?
		</p>
    </div>
    <div id="delete-dialog-confirm" title="Delete the Selected Document or Link" style="display:none">
		<p>
			<span class="ui-icon ui-icon-alert">
			</span>
			Do you want to permanently delete the document or only remove the link to this Maximizer entry ?
		</p>
    </div>
    <!-- Display table-->
    <script id="rowTemplate" type="text/x-kendo-tmpl">
        <tr class='#= brokenFlag == 0 ? "normalRow" : "brokenRow"#' id="#: refId#" data-uid="#: uid #" parent="#: parent_key#" key="#: key#">
            <td>
                <div class="max-invoice-doc-warraper"><span class="max-invoice-doc-number" onclick="MyApp.DownLoadSpDoc('#= name#','#= refId#',#= brokenFlag#,'#= key#','#= path#')"> #= kendo.toString(kendo.parseDate(modifiedDate),"d")#</span></div>
            </td>
            <td>
                <div class="max-invoice-doc-warraper">
                    <span class="max-invoice-doc-number" onclick="MyApp.DownLoadSpDoc('#= name#','#= refId#',#= brokenFlag#,'#= key#','#= path#')"> #: name#</span>
                </div>
            </td>
            <td>
                <div class="max-invoice-doc-warraper"><span class="max-invoice-doc-number" onclick="MyApp.DownLoadSpDoc('#= name#','#= refId#',#= brokenFlag#,'#= key#','#= path#')">#: MyApp.GetFolderPath(path)#</span></div>
            </td>
            # if(currentCloudStorage != "AMAZON" && currentCloudStorage != "DROPBOX" && currentCloudStorage != "DROPBOXBIZ"){#
            <td>
                <div class="max-invoice-doc-warraper"><span class="max-invoice-doc-number" onclick="MyApp.DownLoadSpDoc('#= name#','#= refId#',#= brokenFlag#,'#= key#','#= path#')"> #= kendo.toString(kendo.parseDate(createdDate),"d")#</span></div>
            </td>            
            # } #
        </tr>
    </script>

    <!-- Toolbar -->
    <div style="height:27px; background-color:#4a5461 ; color:rgb(238, 237, 237); font-size:12px; ">
        <div style="float: left; white-space: nowrap; vertical-align: middle; margin-top: 5px; display: inline;">
            <div style="margin-right: 3px; margin-left: 3px; cursor: default;">New:</div>
        </div>
        <div id="AddDocument" style="float: left; white-space: nowrap; vertical-align: middle; margin-top: 5px; display: inline;">
            <button id="addDocument" onclick="" style="margin-right:3px; margin-left:3px; padding:0; border:none; background:none; vertical-align: middle;">
                <img src="~/Images/btnAdd.png" title="Document" style="margin-left: 2px; vertical-align: middle; border: none; cursor: pointer;">
                Document
            </button>
        </div>
        <div id="AddExisting" style="float: left; white-space: nowrap; vertical-align: middle; margin-top: 5px; display: inline;">
            <button id="addExisting" onclick="" style="margin-right:3px; margin-left:3px; padding:0; border:none; background:none; vertical-align: middle;">
                <img src="~/Images/btnAdd_AddExisting.png" title="Add Existing" style="margin-left: 2px; vertical-align: middle; border: none; cursor: pointer;">
                Add Existing
            </button>
        </div>
        <div style="float: left; white-space: nowrap; vertical-align: middle; margin-top: 5px; display: inline;">
            <span>|</span>
            <button id="delete" onclick="deleteDocument()" style="margin-right:3px; margin-left:3px; padding:0; border:none; background:none; vertical-align: middle;">
                <img src="~/Images/btnDelete.png" title="" style="margin-left: 2px; vertical-align: middle; border: none; cursor: pointer;">
            </button>
            <span>|</span>
        </div>
        @*<div id="Properties" style="float: left; white-space: nowrap; vertical-align: middle; margin-top: 5px; display: inline;">
            <button id="properties" onclick="" style="margin-right:3px; margin-left:3px; padding:0; border:none; background:none; vertical-align: middle;">
                <img src="~/Images/btn_toolbar_property.png" title="Properties" style="margin-left: 2px; vertical-align: middle; border: none; cursor: pointer;">
                Properties
            </button>
        </div>*@
        <div id="Folder" style="float: left; white-space: nowrap; vertical-align: middle; margin-top: 5px; display: inline;">
            <button id="folder" onclick="" style="margin-right:3px; margin-left:3px; padding:0; border:none; background:none; vertical-align: middle;">
                <img id="showInFolderTab" src="~/Images/folder.png" title="Show in Folder" style="margin-left: 2px; vertical-align: middle; border: none; cursor: pointer;">
                @*Show in Folder*@
            </button>
        </div>
        <div id="setUpButton" style="float: right; white-space: nowrap; vertical-align: middle; margin-top: 5px; display: inline; display:none">
            <button onclick="setupDialog()" style="margin-right:3px; margin-left:3px; padding:0; border:none; background:none; vertical-align: middle;">
                <img src="~/Images/setup.png" title="Setup" style="margin-left: 2px; vertical-align: middle; border: none; cursor: pointer; margin-right: 2px;">
                Setup
            </button>
        </div>
        <div id="" style="float: right; white-space: nowrap; vertical-align: middle; margin-top: 5px; display: inline;">
            <button id="showAllLabel" onclick="changeCheckState()" style="margin-right:3px; margin-left:3px; padding:0; border:none; background:none; vertical-align: middle;">
                Show All
            </button>
        </div>
        <div style="float: right; white-space: nowrap; vertical-align: middle; margin-top: 5px; display: inline;">
            <input id="showAll" type="checkbox" onchange="showAllAndUpdate()">
        </div>
    </div>

    <script type="text/x-kendo-template" id="template">
        <div style="display:none">
            <div class="disconnetBtnContainer">
                <button id="max-sync-disconnect-button" class="max-app-Button-name btn k-primary k-button"><span style="padding-right:5px;"><i class="fa fa-user-times" aria-hidden="true"></i></span>@Html.Raw(HttpUtility.HtmlDecode(Model.MetaStr.StrDisConnectBtn))</button>
            </div>
            <div class="disconnetBtnContainer">
                <div style=" display: inline-block;padding-right: 200px;padding-left: 50px;"> <span>Account Balance: </span> <div id="balance" style=" display: inline-block;"></div> </div>
                <div style=" display: inline-block;">
                    <div id="tooltip-content" style=" display: inline-block; padding-right: 10px;">
                        <a id="tooltip_fields" style="color:black; text-decoration:none;" title=""><i id="tooltip_fields1" class="icon-plus"></i></a>
                    </div>
                    <div style=" display: inline-block;"><span>Overdue: </span> <div id="overdue" style=" display: inline-block;"></div></div>
                    <div id="extraFieldsPopup" style="display: none;">
                        <div id="tooltipfields">
                            <div style="display:none"><span>OverDueSince: </span> <div id="overduesince" style=" display: inline-block;"></div></div>
                            <div><span>Days Overdue: </span> <div id="overduedays" style=" display: inline-block; position: absolute; left: 120px; font-weight:350"></div></div>
                            <div style="margin-top: 5px;"><span>Last Payment: </span> <div id="lastpaymentdate" style=" display: inline-block; position: absolute; left: 120px; font-weight:350"></div></div>
                        </div>
                        <div id="tooltip_background_layer"></div>
                    </div>
                </div>
            </div>
            <div class="toolbar">
                <input type="search" id="quikcbookstype" style="width: 200px" />
            </div>
        </div>
    </script>

    <div class="container-fluid max-content">
        <div id="max-app-error-page" class="row text-center max-sync-section hidden">
            <div class="col-xs-12">
                @*<div class="row max-error-page ">
                    <div class="col-xs-12">
                        <span class="max-error-title-span">@Html.Raw(HttpUtility.HtmlDecode(Model.MetaStr.StrSystemErrorTitle))</span>
                    </div>
                </div>*@
                <div class="row max-error-page">
                    <div class="col-xs-12">
                        <span><i class="fa fa-exclamation-triangle max-app-error-page-icon"></i></span>
                    </div>
                </div>
                <div class="row max-error-page">
                    <div class="col-xs-12">
                        <span class="max-error-msg-span">@Html.Raw(HttpUtility.HtmlDecode(Model.MetaStr.StrSystemErrorMsg))</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="max-app-sync-page" class="row max-sync-section hidden">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 max-section-padding">
                        <div class="max-app-entry-wrapper">
                            <div class="max-app-entry-name-div text-center">
                                <span class="max-app-entry-name"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 max-section-padding">
                        <div class="row max-vertical-align">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 max-sync-maximizer-col">
                                <div class="pull-right">
                                    <img src="@Url.Content("~/Images/max.png")" class="max-maximizer-img" />
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 max-sync-line-col">
                                <hr class="max-sync-line" />
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 max-sync-app-col">
                                <div class="pull-left">
                                    <img src="@Url.Content("~/Images/myob.png")" class="max-app-img" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="max-sync-msg" class="row hidden">
                    <div class="col-xs-12 max-section-padding">
                        <div class="row max-vertical-align">
                            <div class="col-xs-12 text-center">
                                <div><span class="k-block k-error-colored max-syn-msg-span"><span style="padding-right:5px;"><i class="fa fa-exclamation"></i></span><span id="max-sync-error-msg-txt"></span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 max-section-padding">
                        <div class="row max-vertical-align">
                            <div class="col-xs-12 text-center">
                                <button id="max-sync-connect-button" class="btn k-primary k-button hidden"><span style="padding-right:5px;"><i class="fa fa-user-plus" aria-hidden="true"></i></span>@Html.Raw(HttpUtility.HtmlDecode(Model.MetaStr.StrConnectBtn))</button>
                                <div id="max-sync-loading-status" class="hidden"><span class="k-block k-info-colored max-loading-status"><span style="padding-right:5px;"><i class="fa"></i></span>@Html.Raw(HttpUtility.HtmlDecode(Model.MetaStr.StrSync))</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="max-app-grid-page" class="row max-grid-row-section hidden">
            <div class="col-xs-12 max-grid-col-section">
                <div id="app-grid" class="kendogrid">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(window).resize(function () {
            MyApp.ResizeGrid();
        });
    </script>
</body>
</html>