<div data-role="view" data-title="Ferrari" id="scroller-view">
    <img src="content/mobile/shared/ferrari-logo.svg" class="logo" />
    <ul data-role="listview" data-type="group">
        <li>
            Intro
            <ul>
                <li>
                    <div data-role="scroller" style="height: 14em;">
                     <p>Ferrari S.p.A. is an Italian luxury sports car manufacturer based in Maranello. Founded by Enzo Ferrari in 1929, as Scuderia Ferrari,
                     the company sponsored drivers and manufactured race cars before moving into production of street-legal vehicles in 1947. Fiat
                     acquired 50% of Ferrari in 1969 and expanded its stake to 90% in 1988. In May 2012 the 1962 Ferrari 250 GTO became the most expensive
                     car in the history, selling in a private transaction for $38,115,000 to American communications magnate Craig McCaw.In 2014
                     Fiat announced its intentions to sell a portion of its share in Ferrari; as of the announcement Fiat owned 90% of Ferrari.</p>

                     <p>Throughout its history, the company has been noted for its continued participation in racing, especially in Formula One,
                     where it has had great success. Ferrari road cars are generally seen as a symbol of speed, luxury and wealth.</p>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            History
            <ul>
                <li>
                    <div data-role="scroller" style="height: 14em;">
                     <p>Enzo Ferrari was not initially interested in the idea of producing road cars when he formed Scuderia Ferrari in 1929,
                     with headquarters in Modena. Scuderia Ferrari (literally means "Ferrari Stable" and is usually
                     used to mean "Team Ferrari." Ferrari prepared and fielded Alfa Romeo racing cars for amateur drivers. In 1933 Alfa Romeo
                     withdrew its in-house racing team and appointed Scuderia Ferrari as works team. Enzo Ferrari received latest specifications
                     Monopostos and fielded many famous drivers such as Tazio Nuvolari and Achille Varzi. In 1938 Alfa Romeo brought its racing
                     operation again in-house, forming Alfa Corse in Milano and hired Enzo Ferrari as manager of the new racing department.
                     At the same time the Scuderia Ferrari was disbanded.</p>

                     <p>In September 1939, Enzo Ferrari left Alfa Romeo under the provision that he did not use the Ferrari name in association
                     with races or racing cars for at least four years. A few days later he founded Auto Avio Costruzioni, headquartered in the
                     facilities of the old Scuderia Ferrari. The new company ostensibly produced machine tools and aircraft accessories. In 1940
                     Ferrari did in fact produce a race car  the Tipo 815, based on a Fiat platform  in the non-competition period. It was the
                     first Ferrari car and debuted at the 1940 Mille Miglia, but due to World War II it saw little competition. In 1943 the
                     Ferrari factory moved to Maranello, where it has remained ever since. The factory was bombed by the Allies in 1944 and
                     rebuilt in 1946, after the war ended, and included a works for road car production.</p>

                     <p>The Scuderia Ferrari name was resurrected to denote the factory racing cars and distinguish them from those fielded by customer teams.</p>

                     <p>The first Ferrari road car was the 1947 125 S, powered by a 1.5 L V12 engine; Enzo Ferrari reluctantly built and sold his automobiles to fund Scuderia Ferrari.</p>
                     
                     <p>In 1960 the company was restructured as a public corporation under the name SEFAC S.p.A.</p>

                     <p>Early in 1969, Fiat took a 50% stake in Ferrari. An immediate result was an increase in available investment funds, and work started at
                     once on a factory extension intended to transfer production from Fiat's Turin plant of the Ferrari engined Fiat Dino. New model investment
                     further up in the Ferrari range also received a boost.</p>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            Reference
            <ul>
                <li>
                    <p>Source: <a href="#">Wikipedia</a></p>
                </li>
            </ul>
        </li>
    </ul>
</div>
<style>
    #scroller-view .logo {
        display: block;
        margin: 2em auto;
        height: 7em;
    }
    #scroller-view p {
        margin: 1em 0;
    }
</style>

