<div data-role="view" data-title="Collapsible Events" data-use-native-scrolling="true">
    <div data-role="collapsible" data-collapse="onCollapse" data-expand="onExpand">
        <h2>Brazil</h3>
        <p>Brazil, officially the Federative Republic of Brazil, is the largest country in South America. It is the world's fifth largest country, both by geographical area and by population with over 192 million people. It is the only Portuguese-speaking country in the Americas and the largest lusophone country in the world.</p>
    </div>

    <div class="console"></div>
</div>

<script>
    function onCollapse() {
        kendoConsole.log("collapse");
    }

    function onExpand() {
        kendoConsole.log("expand");
    }
</script>
