<div data-model="viewModel" data-role="view" data-title="Collapsible MVVM" data-use-native-scrolling="true">
    <ul data-role="listview" data-type="group">
        <li>
            Configuration
            <ul>
                <li>
                    Show/Hide collapsible <input type="checkbox" data-role="switch" data-bind="checked: isVisible"></li>
                </li>
                <li>
                    <p>
                        Kendo UI Mobile Collapsible supports the
                        <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/events">events</a> and
                        <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/visible">visible</a> bindings.
                    </p>
                </li>
            </ul>
        </li>
        <li>
            Preview
        </li>
    </ul>

    <div data-role="collapsible" data-bind="visible: isVisible, events: { expand: expand, collapse: collapse }">
        <h3>Netherlands</h3>
        <p>The Netherlands is a constituent country of the Kingdom of the Netherlands, located mainly in North-West Europe and with several islands in the Caribbean. Mainland Netherlands borders the North Sea to the north and west, Belgium to the south, and Germany to the east, and shares maritime borders with Belgium, Germany and the United Kingdom. </p>
    </div>

    <div class="console"></div>
</div>

<script>
    var viewModel = kendo.observable({
        isVisible: true,
        expand: function(e) {
            kendoConsole.log("expand");
        },
        collapse: function(e) {
            kendoConsole.log("collapse");
        }
    });
</script>
