<div data-role="view" data-title="Nested collapsibles" data-use-native-scrolling="true">
    <div id="collapsible" data-role="collapsible" data-animation="false" data-collapsed="false">
        <h2>Sports</h2>
        <div id="collapsible" data-role="collapsible">
            <h2>Baseball</h2>
            <div data-role="scroller" style="height: 10em;">
                <p>Baseball is a bat-and-ball sport played between two teams of nine players each. The aim is to score runs by hitting a thrown ball with a bat and touching a series of four bases arranged at the corners of a ninety-foot diamond. Players on the batting team take turns hitting against the pitcher of the fielding team, which tries to stop them from scoring runs by getting hitters out in any of several ways. A player on the batting team can stop at any of the bases and later advance via a teammate's hit or other means. The teams switch between batting and fielding whenever the fielding team records three outs. One turn at bat for each team constitutes an inning and nine innings make up a professional game. The team with the most runs at the end of the game wins.</p>
            </div>
        </div>
        <div id="collapsible" data-role="collapsible">
            <h2>Golf</h2>
            <div data-role="scroller" style="height: 10em;">
                <p>Golf is a precision club and ball sport, in which competing players (or golfers) use many types of clubs to hit balls into a series of holes on a golf course using the fewest number of strokes. It is one of the few ball games that does not require a standardized playing area. Instead, the game is played on golf courses, each of which features a unique design, although courses typically consist of either nine or 18 holes. Golf is defined, in the rules of golf, as playing a ball with a club from the teeing ground into the hole by a stroke or successive strokes in accordance with the Rules.</p>
            </div>
        </div>
    </div>
</div>
