<!DOCTYPE html>
<html>
<head>
    <title>AngularJS - ContextMenu</title>
    <meta charset="utf-8">
    <link href="../content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="../../styles/kendo.common.min.css" rel="stylesheet">
    <link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jszip.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/kendo.all.min.js"></script>
    <script src="../content/shared/js/console.js"></script>
    <script>
        
    </script>
    
    
</head>
<body>
    
        <a class="offline-button" href="../index.html">Back</a>
    
    <div id="example" ng-app="KendoDemos">
  <div ng-controller="MyCtrl">
    <div class="hasMenu" ng-style="{ 'padding': '3em',
                                     'background': menuOpen ? '#52c35d' : '#d1d1d1' }">
      Right-click me
      <span ng-show="menuOpen">- Menu is open</span>
      <div ng-show="selected" ng-style="{ 'padding-top': '1em' }">Selected: <b>{{selected}}</b></div>
    </div>
    <ul kendo-context-menu
        k-filter="'.hasMenu'"
        k-on-open="menuOpen = menuOpen + 1"
        k-on-close="menuOpen = menuOpen - 1"
        k-on-select="onSelect(kendoEvent)">
      <li>Item 1
        <ul>
          <li>Subitem 1.1</li>
          <li>Subitem 1.2</li>
          <li>Subitem 1.3</li>
        </ul>
      </li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </div>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ])
      .controller("MyCtrl", function($scope){
          $scope.menuOpen = 0;
          $scope.onSelect = function(e) {
              $scope.selected = $(e.item).children(".k-link").text();
          };
      })
</script>


    
</body>
</html>
