<div data-role="view" id="switch-home" data-title="User Settings">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>Profile
            <ul>
                <li><img src="content/mobile/overview/eduardo.jpg" class="km-thumbnail" />Eduardo Saavedra</li>
                <li>Brand Manager at Marketing Team</li>
            </ul>
        </li>

        <li>Password
            <ul>
                <li>User cannot change pasword <input data-role="switch" id="email-switch" checked="checked" /></li>
                <li>Password never expires <input id="wink-switch" data-role="switch" /></li>
            </ul>
        </li>

        <li>Newsletter Subscription
            <ul>
                <li>Subscribed <input id="subscription-switch" data-role="switch" checked /></li>
            </ul>
        </li>
    </ul>
</div>
