<!DOCTYPE html>
<html>
<head>
    <title>AngularJS</title>
    <meta charset="utf-8">
    <link href="../content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="../../styles/kendo.common.min.css" rel="stylesheet">
    <link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jszip.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/kendo.all.min.js"></script>
    <script src="../content/shared/js/console.js"></script>
    <script>
        
    </script>
    
    
</head>
<body>
    
        <a class="offline-button" href="../index.html">Back</a>
    
    <div id="example" ng-app="KendoDemos">
  <div class="demo-section k-content" ng-controller="MyCtrl">
      <h4>Splitter Orientation</h4>
      <select kendo-drop-down-list ng-model="orientation">
        <option value="horizontal">Horizontal</option>
        <option value="vertical">Vertical</option>
      </select>
      <h4 style="padding-top: 2em;">Preview</h4>
      <div kendo-splitter
           k-panes="[ null, { contentUrl: '../content/web/loremIpsum.html' }]"
           k-orientation="orientation"
           k-rebind="orientation">
        <div>
          <p>Content on the left.</p>
          <p>On the other side we have remote-loaded content.</p>
        </div>
        <div>
          <!-- AJAX content -->
        </div>
      </div>
  </div>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ])
      .controller("MyCtrl", function($scope){
          $scope.orientation = "horizontal";
          $scope.hello = "Hello from Controller!";
      })
</script>


    
</body>
</html>
