<!DOCTYPE html>
<html>
<head>
    <title>AngularJS</title>
    <meta charset="utf-8">
    <link href="../content/shared/styles/examples-offline.css" rel="stylesheet">
    <link href="../../styles/kendo.common.min.css" rel="stylesheet">
    <link href="../../styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.min.css" rel="stylesheet">
    <link href="../../styles/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jszip.min.js"></script>
    <script src="../../js/angular.min.js"></script>
    <script src="../../js/kendo.all.min.js"></script>
    <script src="../content/shared/js/console.js"></script>
    <script>
        
    </script>
    
    
</head>
<body>
    
        <a class="offline-button" href="../index.html">Back</a>
    
    <div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl">
        <ol class="playlist" kendo-sortable k-on-end="endHandler(kendoEvent)" k-placeholder="placeholder" k-hint="hint">
            <li ng-repeat="track in tracklist">
                {{ track.name }}
                <span>{{ track.duration }}</span>
            </li>
        </ol>
    </div>
    <style>
        .playlist {
            margin: 30px auto;
            padding: 10px;
            width: 300px;
            background-color: #f3f5f7;
            border-radius: 4px;
            border: 1px solid rgba(0,0,0,.1);
        }

            .playlist li {
                list-style-type: none;
                position: relative;
                padding: 6px 8px;
                margin: 0;
                color: #666;
                font-size: 1.2em;
                cursor: move;
            }

                .playlist li:hover {
                    background-color: #dceffd;
                }

                .playlist li span {
                    position: absolute;
                    right: 5px;
                }

        li.hint {
            display: block;
            padding: 10px;
            width: 200px;
            background-color: #52aef7;
            color: #fff;
        }

            li.hint:last-child {
                border-radius: 4px;
            }

            li.hint span {
                color: #fff;
            }

        li.placeholder {
            background-color: #dceffd;
            color: #52aef7;
            text-align: right;
        }
    </style>
</div>
<script>
    angular.module("KendoDemos", ["kendo.directives"])
        .controller("MyCtrl", function ($scope, $timeout) {
            $scope.tracklist = [
               { name: "Papercut", duration: "3:04" },
               { name: "One Step Closer", duration: "2:35" },
               { name: "With You", duration: "3:23" },
               { name: "Points of Authority", duration: "3:20" },
               { name: "Crawling", duration: "3:29" },
               { name: "Runaway", duration: "3:03" },
               { name: "By Myself", duration: "3:09" },
               { name: "In the End", duration: "3:36" },
               { name: "A Place for My Head", duration: "3:04" },
               { name: "Forgotten", duration: "3:14" },
               { name: "Cure for the Itch", duration: "2:37" },
               { name: "Pushing Me Away", duration: "3:11" }
            ];

            $scope.endHandler = function (e) {
                var sortable = e.sender;

                // prevent the sortable from modifying the DOM
                e.sender.draggable.dropped = true;
                e.preventDefault();

                // update the model and let Angular update the DOM
                $timeout(function () {
                    $scope.$apply(function () {
                        $scope.tracklist.splice(
                          e.newIndex, 0, $scope.tracklist.splice(e.oldIndex, 1)[0]
                        );
                    });
                });
            };


            $scope.placeholder = function (element) {
                return element.clone().addClass("placeholder").text("drop here");
            };
            $scope.hint = function (element) {
                return element.clone().addClass("hint");
            };
        })
</script>


    
</body>
</html>
