<div data-role="view" data-title="Icons">
    <header data-role="header">
        <div data-role="navbar">
            <a data-align="left" data-icon="arrow-w" data-role="backbutton" class="back-button"></a>
            <span data-role="view-title"></span>
            <a data-align="right" data-icon="source-code" data-click="goToSourceCode" data-role="button" title="Show this demo source code"></a>
        </div>
    </header>
    <ul class="additional-icons" data-role="listview" >
    <li><span class="km-icon km-about"></span>about</li>
    <li><span class="km-icon km-action"></span>action</li>
    <li><span class="km-icon km-add"></span>add</li>
    <li><span class="km-icon km-bookmarks"></span>bookmarks</li>
    <li><span class="km-icon km-camera"></span>camera</li>
    <li><span class="km-icon km-cart"></span>cart</li>
    <li><span class="km-icon km-compose"></span>compose</li>
    <li><span class="km-icon km-contacts"></span>contacts</li>
    <li><span class="km-icon km-delete"></span>delete</li>
    <li><span class="km-icon km-details"></span>details</li>
    <li><span class="km-icon km-downloads"></span>downloads</li>
    <li><span class="km-icon km-edit"></span>edit</li>
    <li><span class="km-icon km-fastforward"></span>fastforward</li>
    <li><span class="km-icon km-favorites"></span>favorites</li>
    <li><span class="km-icon km-featured"></span>featured</li>
    <li><span class="km-icon km-globe"></span>globe</li>
    <li><span class="km-icon km-history"></span>history</li>
    <li><span class="km-icon km-home"></span>home</li>
    <li><span class="km-icon km-info"></span>info</li>
    <li><span class="km-icon km-more"></span>more</li>
    <li><span class="km-icon km-mostrecent"></span>mostrecent</li>
    <li><span class="km-icon km-mostviewed"></span>mostviewed</li>
    <li><span class="km-icon km-organize"></span>organize</li>
    <li><span class="km-icon km-pause"></span>pause</li>
    <li><span class="km-icon km-play"></span>play</li>
    <li><span class="km-icon km-phone"></span>phone</li>
    <li><span class="km-icon km-recents"></span>recents</li>
    <li><span class="km-icon km-refresh"></span>refresh</li>
    <li><span class="km-icon km-reply"></span>reply</li>
    <li><span class="km-icon km-rewind"></span>rewind</li>
    <li><span class="km-icon km-search"></span>search</li>
    <li><span class="km-icon km-settings"></span>settings</li>
    <li><span class="km-icon km-share"></span>share</li>
    <li><span class="km-icon km-sounds"></span>sounds</li>
    <li><span class="km-icon km-stop"></span>stop</li>
    <li><span class="km-icon km-toprated"></span>toprated</li>
    <li><span class="km-icon km-trash"></span>trash</li>
    <li><span class="km-icon km-volume"></span>volume</li>
    <li><span class="km-icon km-wifi"></span>wifi</li>
</ul>
</div>
